<div class="flex">
  <div class="w-64 min-h-screen flex-no-shrink p-4 border-r bg-grey-lightest {{if isHidingSidebar 'hidden'}}">
    <p class='mt-3 text-xl'>
      {{#link-to '1' class='text-center text-black no-underline text-base font-bold uppercase'}}
        Robust <span class="text-blue">Data Fetching</span>
      {{/link-to}}
    </p>
    <ul class='list-reset mt-8'>
      {{#nav-link '1' type='Lecture'}}
        Intro to Data Fetching
      {{/nav-link}}
      {{#nav-link '2' type="Exercise"}}
        Stale data
      {{/nav-link}}
      {{#nav-link '3' type="Exercise"}}
        Avoiding partial renders
      {{/nav-link}}
      {{#nav-link '4' type="Exercise"}}
        Declaring data needs
      {{/nav-link}}
      {{#nav-link '5' type="Exercise"}}
        Data dependencies
      {{/nav-link}}
      {{#nav-link '6' type="Exercise"}}
        N+1s
      {{/nav-link}}
      {{#nav-link '7' type='Exercise'}}
        Minimum meaningful data to render
      {{/nav-link}}
      {{#nav-link '8' type="Exercise"}}
        Data providers
      {{/nav-link}}
      {{#nav-link '9' type='Lecture'}}
        Closing
      {{/nav-link}}
    </ul>
  </div>
  <div class="flex-grow font-sans">
    {{!-- <a {{action (toggle 'isHidingSidebar' this)}} href=""
      class='absolute z-10 transition inline-block p-4 text-black opacity-25 hover:opacity-100'>
      {{fa-icon (if isHidingSidebar 'chevron-right' 'chevron-left')}}
    </a> --}}

    <div class="px-8">
      {{outlet}}
    </div>

    <div  class="absolute z-10 pin-t pin-r p-4">
      {{server-speed}}
    </div>
  </div>
</div>
